<style>
    .devices div .thumbnail{
        margin-bottom: 20px;
    }
    .thumbnail .table {
        margin-bottom: 0;
        height: 204px;
    }
    .thumbnail .table td{
        vertical-align: middle;
    }
    
</style>

<div class="container-fluid">
    <div class="devices">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../templates/vakio/img/atmosphere.png" alt="device-img">
                <div class="caption">
                    <h3>Atmosphere</h3>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#sensors1">Датчики</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="sensors1" class="tab-pane fade in active">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Температура</td>
                                        <td>26℃</td>
                                    </tr>
                                    <tr>
                                        <td>Влажность</td>
                                        <td>33%</td>
                                    </tr>
                                    <tr>
                                        <td>Угл.газ</td>
                                        <td>1100 PPM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../templates/vakio/img/kiv.png" alt="device-img">
                <div class="caption">
                    <h3>Kiv</h3>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#control2">Управление</a></li>
                    </ul>
                    <div class="tab-content">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Заслонка</td>
                                    <td>
                                        <select name="" id="" class="form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Состояние</td>
                                    <td>
                                        <select name="" id="" class="form-control">
                                            <option value="on">On</option>
                                            <option value="off">Off</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../templates/vakio/img/kiv.png" alt="device-img">
                <div class="caption">
                    <h3>OpenAir</h3>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#sensors3">Датчики</a></li>
                        <li><a data-toggle="tab" href="#control3">Управление</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="sensors3" class="tab-pane fade in active">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Температура</td>
                                        <td>26℃</td>
                                    </tr>
                                    <tr>
                                        <td>Влажность</td>
                                        <td>33%</td>
                                    </tr>
                                    <tr>
                                        <td>Угл.газ</td>
                                        <td>1100 PPM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="control3" class="tab-pane fade">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Скорость</td>
                                        <td>
                                            <select name="" id="" class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Заслонка</td>
                                        <td>
                                            <select name="" id="" class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Состояние</td>
                                        <td>
                                            <select name="" id="" class="form-control">
                                                <option value="on">On</option>
                                                <option value="off">Off</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Режим</td>
                                        <td>
                                            <select name="" id="" class="form-control">
                                                <option value="super_auto">Автоматический</option>
                                                <option value="manual">Ручной</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../templates/vakio/img/base_smart.png" alt="device-img">
                <div class="caption">
                    <h3>Base Smart</h3>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#control4">Управление</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="control4" class="tab-pane fade in active">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Скорость</td>
                                        <td>
                                            <select name="" id="" class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Состояние</td>
                                        <td>
                                            <select name="" id="" class="form-control">
                                                <option value="on">On</option>
                                                <option value="off">Off</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Режим</td>
                                        <td>
                                            <select name="" id="" class="form-control">
                                                <option value="super_auto">Автоматический</option>
                                                <option value="manual">Ручной</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>