<style>
    .devices div .thumbnail{
        margin-bottom: 20px;
    }
    .thumbnail .table {
        margin-bottom: 0;
        height: 204px;
    }
    .thumbnail .table td{
        vertical-align: middle;
    }
    .material-switch > input[type="checkbox"] {
        display: none;   
    }
    
    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative; 
        width: 40px;  
    }
    
    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position:absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }
    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }
    .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }
    .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }
    
</style>

<script>
    function test() {
        var url='<#ROOTHTML#>ajax/vakio.html?device=1';
        console.log(url);
        // $('#'+result_id).html('...');
        $.ajax({
            url: url,
            type: 'GET',
            success: function(data){
                var obj=jQuery.parseJSON(data);
                console.log(obj);
                //$('#devicepreview[#ID#]').html(obj.HTML);
            }
        });
        return false;
    }
</script>

<div class="container-fluid">
    <div class="devices">
        [#begin DEVICES#]
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../templates/vakio/img/[#IMG_NAME#]" alt="device-img">
                <div class="caption">
                    <h3>[#TITLE#]</h3>
                    <h5>[#NAME#]</h5>
                    <ul class="nav nav-tabs">
                        [#if IS_HAS_SENSORS>0#]
                        <li class="active"><a data-toggle="tab" href="#sensors[#ID#]">Датчики</a></li>
                        [#endif#]
                        [#if IS_HAS_CONTROLS>0#]
                        <li [#if IS_HAS_SENSORS==0#]class="active"[#endif#]><a data-toggle="tab" href="#control[#ID#]">Управление</a></li>
                        [#endif#]
                    </ul>
                    <div class="tab-content">
                        [#if IS_HAS_SENSORS>0#] 
                        <div id="sensors[#ID#]" class="tab-pane fade in active">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Температура</td>
                                        <td>
                                            [#if TEMP#]
                                                [#TEMP#] ℃
                                            [#else#]
                                                —
                                            [#endif#]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Влажность</td>
                                        <td>
                                            [#if HUD#]
                                                [#HUD#] %
                                            [#else#]
                                                —
                                            [#endif#]
                                        </td>
                                    </tr>
                                    [#if IS_HAS_CO2>0#]
                                    <tr>
                                        <td>CO2</td>
                                        <td>
                                            [#if CO2#]
                                                [#CO2#] PPM
                                            [#else#]
                                            —
                                            [#endif#]
                                        </td>
                                    </tr>
                                    [#endif#]
                                    
                                </tbody>
                            </table>
                        </div>
                        [#endif#]
                        [#if IS_HAS_CONTROLS>0#]
                        <div id="control[#ID#]" class="tab-pane fade [#if IS_HAS_SENSORS==0#]in active[#endif#]">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Состояние</td>
                                        <td>
                                            <div class="material-switch pull-right">
                                                <input id="state[#ID#]" name="state[#ID#]" type="checkbox" [#if STATE=="on"#]checked[#endif#]/>
                                                <label for="stateSwitcher[#ID#]" class="label-primary"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    [#if VAKIO_DEVICE_TYPE!=1#]
                                    <tr>
                                        <td>Заслонка</td>
                                        <td>
                                            <select name="gate[#ID#]" id="gate[#ID#]" class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </td>
                                    </tr>
                                    [#endif#]

                                    [#if VAKIO_DEVICE_TYPE==3#]
                                    <tr>
                                        <td>Скорость</td>
                                        <td>
                                            <select name="speed[#ID#]" id="speed[#ID#]" class="form-control">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Режим</td>
                                        <td>
                                            <select name="workmode[#ID#]" id="workmode[#ID#]" class="form-control">
                                                <option value="super_auto">Авто</option>
                                                <option value="manual">Ручной</option>
                                            </select>
                                        </td>
                                    </tr>
                                    [#endif#]

                                    [#if VAKIO_DEVICE_TYPE==1#]
                                    <tr>
                                        <td>Скорость</td>
                                        <td>
                                            <select name="speed[#ID#]" id="speed[#ID#]" class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Режим</td>
                                        <td>
                                            <select name="workmode[#ID#]" id="workmode[#ID#]" class="form-control">
                                                <option value="inflow">Приток</option>
                                                <option value="inflow_max">Приток MAX</option>    
                                                <option value="recuperator">Рекуперация лето</option>    
                                                <option value="winter">Рекуперация зима</option>    
                                                <option value="outflow">Вытяжка</option>    
                                                <option value="outflow_max">Вытяжка MAX</option>    
                                                <option value="night">Ночной </option>  
                                            </select>
                                        </td>
                                    </tr>
                                    [#endif#]
                                    
                                </tbody>
                            </table>
                        </div>
                        [#endif#]
                    </div>
                </div>
            </div>
        </div>
        [#end DEVICES#]
    </div>
</div>

                                                