
<!-- table vakio_devices search -->
<p>
<a href="?view_mode=edit_vakio_devices" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD#></a>
<a href="?view_mode=devices" class="btn btn-info"><i class="glyphicon glyphicon-th"></i> <#LANG_DEVICES#></a>
</p>
<table width=100% border=0><tr>
  <td valign=top>
  <!-- results -->
  [#if RESULT#]
  <!-- paging -->
  [#if PAGES#]
  <table border=0>
    <td align=right><b>Pages:</b>&nbsp;</td>
    [#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
    <td>
    [#begin PAGES#]
    [#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
    [#end PAGES#]
    </td>
    [#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
  </table>
  [#endif PAGES#]
  <!-- / paging -->
  <!-- search results (list) -->
  <form action="?" method="post" name="frmList_vakio_devices" style="padding:0px" class="form">
    <table  align=center class="table table-striped">
      <tbody>
        <tr>
          <td>
            <b>Наименование</b>
          </td>
          <td>
            <b>Тип устройства</b>
          </td>
          <td>
            <b>Топик</b>
          </td>
          <td>
            <b>Состояние</b>
          </td>
          <td width="1%" nowrap>
            <div></div>
          </td>
        </tr>
        [#begin RESULT#]
        <tr>
          <td>
            [#TITLE#]
          </td>
          <td>
            [#if VAKIO_DEVICE_TYPE!=""#]
              [#VAKIO_DEVICE_TYPE#]
            [#else#]
              &nbsp;
            [#endif#]
          </td>
          <td>
            [#if VAKIO_DEVICE_MQTT_TOPIC!=""#]
              [#VAKIO_DEVICE_MQTT_TOPIC#]
            [#else#]
              &nbsp;
            [#endif#]
          </td>
          <td>
            [#if VAKIO_DEVICE_STATE!=""#]
              [#VAKIO_DEVICE_STATE#]
            [#else#]
              &nbsp;
            [#endif#]
          </td>
          <td width="1%" nowrap>
            <div>
              [#if "<#ACTION#>"=="admin"#]
                <a href="?view_mode=edit_vakio_devices&id=[#ID#]" class="btn btn-default" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="?view_mode=delete_vakio_devices&id=[#ID#]" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
              [#endif ACTION#]
            </div>
          </td>
        </tr>
        [#end RESULT#]
      </tbody>
    </table>
    <input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
    <input type="hidden" name="view_mode" value="multiple_vakio_devices">
  </form>
  <!-- / search results (list) -->
  <!-- paging -->
  [#if PAGES#]
    <table border=0>
      <td align=right><b>Pages:</b>&nbsp;</td>
      [#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
      <td>
        [#begin PAGES#]
          [#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
        [#end PAGES#]
      </td>
      [#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
    </table>
  [#endif PAGES#]
  <!-- / paging -->
  [#else RESULT#]
    <p>
      <font color="red"><#LANG_NO_RECORDS_FOUND#></font>
    </p>
  [#endif RESULT#]
  <!-- / results -->
  </td></tr>
</table>
